/*google font*/
/*@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600;700;&display=swap');*/

*{
    font-family: "poppins", sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    color: var(--text-color);
}
i{
    padding: .3 rem;
}
:root{
    --bg-color: #fff;
    --text-color: #171427;
    --color-red: #fd4646;
}
body{
    background-color: rgba(240, 232, 232, 0.5);
}
img{
    width: 100%;
    max-height: 100%;
    height: 20rem; 
    margin-bottom: 1rem;
    object-fit: cover;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: .1rem 0 .5rem rgba(0 0 0/.2);
    padding: 0 1rem;
    z-index: 1000;
}
.nav__container{
    width: 100%;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 1.8rem;
    font-weight: 600;
    -webkit-text-stroke: 1px white;
    background-image:linear-gradient(to right,#416c48ff,#ffb900);
    -webkit-background-clip: text;
    color:transparent;
    transition:all 1s;
}
.logo:hover{
    transform:skewY(2deg) skewX(15deg);
    text-shadow:.5rem  2rem 2rem rgba(0, 0, 0, 0.2);
}
#cart__icon{
    font-size: 2rem;
    background-image:linear-gradient(to right,#416c48ff,#ffb900);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    padding-right: 1rem;
}
.cart__counter.active{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid white;
    background-color: var(--bg-color);
}
.cart__counter.inActive{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid white;
    background-color: var(--bg-color);
}
.cart__counter>:first-child{
    position: absolute;
    font-size: 1rem;
    color: transparent;
    background-image:linear-gradient(to right,#416c48ff,#ffb900);
    -webkit-background-clip: text;
}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 22rem;
    height: 100vh;
    background: var(--bg-color);
    box-shadow: -.025rem 0 .9rem hsla( 0 0% 0% / .5) ;
    padding: 1rem;
    overflow-y: scroll;
    transform-origin: right;
    transition: 1s
}
.cart.showCart{
    right: 0;
}
.cart__title{
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
    margin: 2rem 0;
}
.cart__box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
}
.cart__image{
    width: 100%;
    height:100%;
    object-fit: contain;
}
.cart-product__details{
    display: grid;
    row-gap: 1rem;
    margin-bottom: 1rem;
}
.cart-product__title{
    font-size: 1rem;
    text-transform: uppercase;
}
.cart__price{
    font-weight: 600;
}
.cart__quantity{
    width: 20%;
    border:1px solid var(--text-color); 
    outline-color: var(--color-red);
    text-align: center;
    font-size: 1rem;
}
.fa-trash{
    width: fit-content;
    padding: .5rem;
    color: var(--color-red);
}
.cart__total{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid var(--text-color);
    padding-top: .2rem;
}
.total__title{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}
.cart-total__price{
    font-size: 1rem;
    margin-left: .5rem;
    font-weight: 600;
}
.cart-buy__button{
    display: flex;
    padding: 1.2rem 2rem;
    border: 1px solid transparent;
    color: var(--bg-color);
    background: var(--color-red);
    margin: 0 auto;
    margin-top: 2rem;
}
.cart-buy__button:hover{
    outline:none;
	transform:translateY(-3px);
	box-shadow:0 1rem 10rem  rgba(161, 159, 159, 0.6);
}
#close__cart, #close-payment__section{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.shop__section{
    padding: 9rem 0 3rem;
}
.shop__title{
    font-size: 2rem;
    font-weight: 600;
    color: transparent;
    background-image:linear-gradient(to right,#416c48ff,#ffb900);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    transition:all 1s;
    animation: skew 3s linear infinite;
}
@keyframes skew {
    0%{
        transform: skewY(2deg) skewX(15deg);
    }
    50%{
        transform: skewY(-2deg) skewX(-15deg);
    }
    100%{
        transform: skewY(2deg) skewX(15deg);
    }

}
.product__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
    gap: .5rem;
    padding: .5rem;
}
.product__box{
    position: relative;
    padding: 1rem;
    transition: .5s ease-in-out;
    border: 1px solid transparent;
}
.product__box:hover{
    transform: scale(.9);
    transform:translateY(-3px);
	box-shadow:0 1rem 10rem  rgba(161, 159, 159, 0.6);
    border: 1px solid var(--text-color);
}
.product__box.active{
    transform: scale(.9);
    transform:translateY(-3px);
	box-shadow:0 1rem 10rem  rgba(161, 159, 159, 0.6);
    border: 1px solid var(--text-color);
}
.product__title{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.product__price{
    font-weight: 600;
}
.fa-cart-plus{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    background-image:linear-gradient(to right,rgb(87, 107, 90),#c0ad7a);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .5rem;
    cursor: pointer;
}
.payment__container{
    position: fixed;
    inset: 20% 10%;
    margin: auto;
    max-width: 100%;
    max-width: 100%;
    background: rgba(255 255 255 / .95);
    border: 1px solid yellowgreen;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 300000;
}
#proceed__icon{
    background-image:linear-gradient(to right,#416c48ff,#ffb900);
    -webkit-background-clip: text;
    color: transparent;
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid yellowgreen;
    border-radius: 50%;
}
.payment__container h2{
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: .5rem 0;
    color: var(--text-color);
}
.payment__container h4{
    font-size: 1.3rem;
    padding-bottom: 1rem;
    color: rgb(122, 118, 118);
    text-transform: capitalize;
}
.payment__container #customer-account__form{
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.payment__container #email{
    border: 1px solid yellowgreen;
    font-size: 1rem;
    padding: 0 2rem;
    width: 100%;
    height: 3rem;
    margin-bottom: 2rem;
}
.payment__container #email:focus{
    outline: 1px solid black;
    font-size: 1.2rem;
}
.payment__container #customer-account__form label, .payment__container #customer-account__form span{
    position: absolute;
    top: 1rem;
    left: 2rem;
    text-transform: capitalize;
    font-size: 1rem;
    transition: .3s;
}
.payment__container #customer-account__form span{
    left: 1.9rem;
}
.payment__container #customer-account__form.focus label{
    transform: translateY(-1.5rem);
    z-index: 1;
    font-size: .8rem;
}
.payment__container #customer-account__form span{
    letter-spacing: .05rem;
    transform: translateY(-1.5rem);
    font-size: .8rem;
    opacity: 0;
} 
.payment__container #customer-account__form.focus span{
    opacity: 1;
}
.payment__container #customer-account__form span::before, .payment__container #customer-account__form span::after{
    position: absolute;
    top: 0;
    content: '';
    width: 50%;
    height: 100%;
    background-color: white;
}
.payment__container #customer-account__form span::after{
    right: 0;
    background-color: white;
}
.payment__container button{
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    border: 1px solid transparent;
    transform: perspective(45%) skewX(-3rem);
    background-image:linear-gradient(to right,#416c48ff,#ffb900);
}
.payment__container h3{
    font-size: 1.3rem;
    text-align: center;
    color: yellowgreen;
}
@media (max-width:939px) {
    .payment__container{
        inset: 10% 8%;
        padding: 1rem;
    }
    .payment__container #customer-account__form{
        width: 85%;
    }
    .payment__container h2{
        margin: 2rem 0 0;
    }
    .payment__container h4{
        font-size: 1rem;
        width: 80%;
        text-align: center;
        margin: 1rem 0;
    }
}
@media (max-width:554px) {
    .cart{
        width: 18rem;
    }
    .cart__title{
        font-size: 1rem ;
    }
    .cart-product__details{
        width: 6rem;
        row-gap: .6rem;
    }
    .cart__box>:last-child{
        margin-left: -2rem;
    }
    .cart-product__title{
        font-size: .8rem;
    }
    .cart__quantity{
        font-size: .9rem;
    }
    .total__title{
        font-size: .9rem;
    }
    .cart-buy__button{
        padding: 1.2rem 1.8rem;
    }
    .shop__section{
        padding-right: .8rem;
    }
    .product__container{
        grid-template-columns: repeat(3, minmax(5rem, auto));
        gap: .1rem;
        padding: .1rem;
    }
    img{
        max-width: 100%;
        width: 10rem;
        max-height: 100%;
        height: 8rem; 
        margin-bottom: 1rem;
        object-fit: cover;
    }
    .product__title{
        font-size: .75rem;
    }
    .product__price{
        font-size: .8rem;
    }
    .fa-cart-plus{
        padding: .1rem;
        font-size: 1.2rem;
    }
    .payment__container #customer-account__form{
        width: 95%;
    }
    .payment__container h2{
        font-size: 1rem;
    }
    .payment__container h4{
        font-size: .8rem;
        width: 80%;
    }
}
@media (max-width:375px) {
    img{
        max-width: 100%;
        width: 8rem;
        max-height: 100%;
        height: 6rem; 
        margin-bottom: 1rem;
        object-fit: cover;
    }
    .shop__section{
        padding-right: .8rem;
    }
}